<div class="row">
  <section class="main col-md-9">

    {{#if data.post}}
      <article>
        <h2>{{data.post.title}}</h2>
        <img
          src={{data.post.featureImage}}
          alt="feature Image"
          style="width:100%"
        />
        <br /><br />
        {{#safeHTML data.post.body}}{{/safeHTML}}
        <br /><br />
        <strong>Category: {{data.post.title}}</strong>
        <br />

        <strong>Last Updated:
          {{#formatDate data.post.postDate}}{{/formatDate}}</strong>

      </article>
    {{else}}
      <strong>{{data.message}}</strong>
    {{/if}}

  </section>
  <aside class="col-md-3">
    <br /><br />

    <h4>Posts</h4>
    {{#if data.posts}}
      <ul class="list-group">
        {{#each data.posts}}
          <a
            href="/blog/{{id}}?category={{category}}"
            class="list-group-item"
          >{{title}}</a>
        {{/each}}
        {{! <a href="#" class="list-group-item">Post 2</a>
      <a href="#" class="list-group-item">etc...</a> }}
      </ul>
    {{else}}
      {{data.postsMessage}}
    {{/if}}
    <h4>Categories</h4>
    {{#if data.categories}}

      <ul class="list-group">
        {{#each data.categories}}
          <a href="/blog?category={{id}}" class="list-group-item">{{title}}</a>
        {{/each}}
      </ul>
    {{else}}
      {{data.categoriesMessage}}
    {{/if}}
  </aside>
</div>